@model List<ResultCommentListByBLogIdDto>
@{
    ViewData["Title"] = "CommentListByBLogId";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int sayac = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title font-size-18">Bloga Yapılan Yorumlar</h4>
                        <p class="card-subtitle mb-4">
                            Bloglar ile ilgili - yapılmış yorum listesini bu sayfa üzerinden görebilirsiniz. İlgili yorumları kaldırabilir ya da tekrardan aktif hale getirebilirsiniz.
                        </p>

                        
                           <br />

                        @if (Model.Count > 0)     
                        {
                           <p class="alert alert-success" role="alert">
                               Blog Başlığı : <b>@Model.OrderBy(x=>x.CommentID).FirstOrDefault().BlogName</b>
                           </p> 

                            @foreach (var item in Model)
                            {

                                sayac++;

                                <div class="col-md-12">
                                    <div class="card">
                                        <h5 class="card-header">Yorum - @sayac</h5>

                                        <div class="card-body">
                                            <h4 class="card-title">@item.Name</h4>
                                            <p class="card-text">
                                                @item.Description
                                            </p>
                                            <a href="#" class="btn btn-primary waves-effect waves-light">Yorumu Kaldır</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                            @(((DateTime)item.CreatedDate).ToString("dd.MMMMMMM.yyyy HH:mm"))
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                              <b>İlgili blog yazısına yapılan yorum bulunmamaktadır!</b
                            </div>
                            
                        }

                        <a href="/Admin/AdminBlog" class="btn btn-danger waves-effect waves-light"> Blog Listesine Dön </a>

                    </div> <!-- end card body-->
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>

    </div> <!-- container-fluid -->
</div>

