
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<style type="text/css">
    body {
        overflow-y: hidden;
    }
</style>

<div class="page-content">
    <div class="container-fluid">

        <br />
        <br />
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-car"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.carCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger > 50)
                                {
                                    <span class="text-white">@ViewBag.deger % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger < 50)
                                {
                                    <span class="text-white">@ViewBag.deger % <i class="mdi mdi-arrow-down"></i></span>
                                }
                                
                            </div>
                        </div>

                        <div class="progress badge-soft-dark shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: @ViewBag.deger%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!--1 mor Araç Sayısı -->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-bookmark"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.brandCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger2 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger2 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger2 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger2 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width:  @ViewBag.deger2%;"></div>
                        </div>
                       
                    </div>
                </div>
            </div> <!--2 yeşil Marka Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-greater-than"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Otomatik Vites Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.carCountByTranmissionIsAutoCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger3 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger3 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger3 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger3 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:  @ViewBag.deger3%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--3 turuncu Otomatik Araç Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-greater-than-equal"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Manuel Vites Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.carCountByTranmissionIsManuelCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger4 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger4 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger4 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger4 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:  @ViewBag.deger4%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--4 mavi Manuel Araç Sayısı-->
        </div>
        <!-- 1. satır istatistik son -->

        <div class="row">
            
            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-charging-station"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Elektrikli Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.carCountByFuelElectric
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger5 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger5 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger5 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger5 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:  @ViewBag.deger5%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--5 mavi Elektirkli Araç Sayısı-->

            <div class="col-md-6 col-xl-3">
                    <div class="card bg-primary border-primary">
                        <div class="card-body">
                            <div class="mb-4">
                                <span class="text-white float-right"><i class="fas fa-gas-pump"></i>  </span>
                                <h5 class="card-title mb-0 text-white">Dizel veya Benzinli Araç Sayısı</h5>
                            </div>
                            <div class="row d-flex align-items-center mb-4">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0 text-white">
                                        @ViewBag.CarCountByFuelGasolineOrDisel
                                    </h2>
                                </div>
                                <div class="col-4 text-right">
                                    @if (ViewBag.deger6 > 50)
                                    {
                                        <span class="text-white">@ViewBag.deger6 % <i class="mdi mdi-arrow-up"></i></span>
                                    }
                                    @if (ViewBag.deger6 < 50)
                                    {
                                        <span class="text-white">@ViewBag.deger6 % <i class="mdi mdi-arrow-down"></i></span>
                                    }

                                </div>
                            </div>

                            <div class="progress badge-soft-dark shadow-sm" style="height: 7px;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: @ViewBag.deger6%;"></div>
                            </div>
                        </div>
                    </div>               
            </div> <!--6 mor Dizel&Benzinli Araç Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> Günlük Kiralama </span>
                            <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-12">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.carBrandAndModelByRentPriceDailyMin
                                </h2>
                            </div>                           
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:  @ViewBag.deger7%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--7 yeşil  Günlük Araç Kira En Düşük Fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> Günlük Kiralama </span>
                            <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.carBrandAndModelByRentPriceDailyMax
                                </h2>
                            </div>
                           
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:  @ViewBag.deger8%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--8 turuncu  Günlük Araç Kira En Yüksek Fiyat -->

        </div>
        <!-- 2. satır istatistik son -->

        <div class="row">
         
            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> Ortalama Fiyat  </span>
                            <h5 class="card-title mb-0 text-white">Günlük Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.avgRentPriceForDaily ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger9 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger9 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger9 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger9 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:  @ViewBag.deger9%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--9 turuncu Günlük Araç Kira Ortlama Fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> Ortalama Fiyat  </span>
                            <h5 class="card-title mb-0 text-white">Haftalık Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.avgRentPriceForWeekly ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger10 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger10 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger10 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger10 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:  @ViewBag.deger10%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--10 mavi Haftalık Araç Kira Ortlama Fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> Ortalama Fiyat  </span>
                            <h5 class="card-title mb-0 text-white">Aylık Kiralama</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.avgRentPriceForMonthly ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger11 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger11 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger11 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger11 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:  @ViewBag.deger11%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--11 mor Aylık Araç Kira Ortlama Fiyat-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"> En Fazla Sayıda </span>
                            <h5 class="card-title mb-0 text-white">Marka Adı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.brandNameByMaxCar
                                </h2>
                            </div>
                           
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:  @ViewBag.deger12%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--12 yeşil Sayısı En Fazla Olan Araç Markası-->


        </div>
        <!-- 3. satır istatistik son -->

        <div class="row">
          
            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-location-arrow"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.locationCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger13 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger13 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.dege13 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger13 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:  @ViewBag.deger13%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--13 yeşil Lokasyon Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-blog"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Blog Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.blogCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger14 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger14 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger14 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger14 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:  @ViewBag.deger14%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--14 turuncu Blog Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="text-white float-right"><i class="fas fa-pen-fancy"></i>  </span>
                            <h5 class="card-title mb-0 text-white">Yazar Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.authorCount
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                @if (ViewBag.deger4 > 50)
                                {
                                    <span class="text-white">@ViewBag.deger4 % <i class="mdi mdi-arrow-up"></i></span>
                                }
                                @if (ViewBag.deger4 < 50)
                                {
                                    <span class="text-white">@ViewBag.deger4 % <i class="mdi mdi-arrow-down"></i></span>
                                }

                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:  @ViewBag.deger4%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--15 mavi Yazar Sayısı-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="text-white float-right"> En Fazla Sayıda Yorum Blog Adı </span>
                            <h5 class="card-title mb-0 text-white"> &nbsp </h5>
                        </div>
                        <div class="row d-flex align-items-center mb-3">
                            <div class="col-12">
                                <h3 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.blogTitleByMaxBlogComment
                                </h3>
                            </div>

                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:  @ViewBag.deger16%;"></div>
                        </div>

                    </div>
                </div>
            </div> <!--16 mor En Çok Yorum Alan Blog ****-->

        </div>
        <!-- 4. satır istatistik son -->

    </div> 
</div>
